<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
</head>
<body>
    <h1>Edit Profile InstaShare</h1>

    <form action="/profile/<%= profile.id %>/edit" method="post">
        <p>
            <label>First Name</label>
            <br>
            <input type="text" name="firstName" value="<%= profile.firstName %>">
        </p>

        <p>
            <label>Last Name</label>
            <br>
            <input type="text" name="lastName" value="<%= profile.lastName %>">
        </p>

        <p>
            <label>Phone Number</label>
            <br>
            <input type="text" name="phone" value="<%= profile.phone %>">
        </p>

        <p>
            <label>Bio</label>
            <br>
            <input type="text" name="bio" value="<%= profile.bio %>">
        </p>

        <p>
            <label>Profile Picture URL</label>
            <br>
            <input type="text" name="profilePicture" value="<%= profile.profilePicture %>">
        </p>

        <button type="submit">Edit</button>
    </form>
</body>
</html>